* {
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    background-color: #60B3FF;
    align-items: center;
    font-family: serif;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.main_visual{
    position: relative;
}
.slider{
    width: 100%;
}

.topright {
    position: absolute;
    top: 50px;
    right: 25px;
    color: #fff;

}
.title_floorguide {
    text-align: center;
    font-size: 48px;
    padding-top: 128px;
    font-family: 'Noto Serif JP', sans-serif;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    padding-bottom: 64px;
    padding-top: 16px;
}

.title_pickUp {
    text-align: center;
    font-size: 48px;
    padding-top: 128px;
}


ul {
    text-align: right;
    right: 0 15%;
    margin-right: 50px;
    padding: 25px;
}

h6 {
    font-size: 20px;
    text-align: center;

}

h7 {
    text-align: center;
}

li {
    display: inline-flex;
    padding: 0 16px;
}

body {
    background-color: rgba(23, 128, 235, 0.5);
}

main div {
    width: 1120px;
}

main img {
    height: 188px;
    width: 256px;
    display: block;
    text-align: center;
}

.guide p{
padding-top: 16px;
padding-left: 0;
}

.guide {
    display: flex;
   

    margin: auto;
    
    
}

.pic_text_pickUp {
    display: flex;
    justify-content: center;
    column-gap: 70px;
}

.right {
    padding-top: 130px;
}

.title_seaCreature {
    text-align: center;
    font-size: 48px;
    padding-top: 128px;
}

.sea {
    display: flex;
    justify-content: center;
}

.title_contact {
    text-align: center;
    font-size: 48px;
    color: #fff;
}

.conte {
    position: relative;


}

.contactBtn {
    color: #fff;
    top: 50%;
    left: 50%;

}

.contact__subtitle {
    color: #FFF;
}


.contact {
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url("../img/枠 (10).png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactName_field {
    height: 40px;
    width: 544px;
}

.contactName_field--large {
    height: 196px;
}

form.content {
    width: 736px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.contentName {
    display: flex;
    justify-content: space-between;
}

.contentName__label {
    color: #fff;
    font-size: 20px;
    /* width: 139px; */
}

.contactBtn {
    width: 260px;
    height: 50px;
    color: #FFF;
    background-color: #333;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
footer{
    background-color: #333;
    color: #FFF;
    text-align: center;
}